<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.cdnfonts.com/css/circe" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body
    style="
      background-color: #e5e5e5;
      font-family: Calibri, 'Trebuchet MS', sans-serif;
    "
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 8vh;
      "
    >
      <div
        style="
          margin: auto;
          padding: 25px;
          background-color: #ffffff;
          border-radius: 20px;
          min-width: 380px;
        "
      >
        <!-- <h1><%= email%></h1> -->
        <h1 style="text-align: center; font-size: 20px">
          Create new password:
        </h1>
        <form method="post" style="display: flex; flex-direction: column">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="New password"
            style="
              height: 28px;
              padding: 20px;
              margin-bottom: 20px;
              border: none;
              border-bottom: 1px solid #e0e0e0;
              outline: none;
              text-align: center;
              font-size: 16px;
              line-height: 1.5;
              font-family: Calibri, 'Trebuchet MS', sans-serif;
            "
          />
          <input
            type="password"
            name="confirm-password"
            id="confirmPassword"
            placeholder="Confirm password"
            style="
              height: 28px;
              margin-bottom: 20px;
              padding: 20px;
              border: none;
              border-bottom: 1px solid #e0e0e0;
              outline: none;
              text-align: center;
              font-size: 16px;
              line-height: 1.5;
              font-family: Calibri, 'Trebuchet MS', sans-serif;
            "
          /><input
            type="submit"
            href="http::/localhost:3000/"
            value="Create"
            style="
              cursor: pointer;
              background: #24cca7;
              border-radius: 20px;
              color: #ffffff;
              padding: 10px;
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: center;
              font-family: Calibri, 'Trebuchet MS', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 1.5;
              border: 0;
            "
          />
        </form>
      </div>
    </div>
  </body>
</html>
